body {
  font-family: 'Quicksand', sans-serif !important;
}

.certificaciones-contenedor{
  margin-right: 8rem;
  margin-left: 8rem;
}

.pagar-btn, .examen-btn{
  padding:0.6rem;
  border-radius: 8px;
  margin:0.4rem;
  background: #89ace1;
  color:white;
  border: none;
  font-family: 'Quicksand', sans-serif !important;
  width:8rem;
  height: 3rem;
  font-size: 1rem;
}

.certificaciones-superior{
  display:flex;
  gap:6rem;
}

.certificaciones-inferior{
  display:flex;
  gap:6rem;
}
.certificaciones-titulo{
  text-align: center;
  font-size: 2rem;
}

.certificacion-card {
    flex: 1;                      /* Cada card toma el mismo espacio */
    background-color:white;          /* Fondo blanco */
    padding: 20px;                     /* Espaciado interno */
    border-radius: 8px;               /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); 
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.certificacion-card img {
    width: 100%;                     /* Ancho completo del contenedor */
    height: 400px;                   /* Altura fija */
    object-fit:contain;               /* Mantiene las proporciones de la imagen */
    border-radius: 8px;              /* Bordes redondeados en la imagen */
    margin-bottom: 15px;            /* Espacio debajo de la imagen */
}
ب

.certificacion-card h3 {
    font-size: 1.3rem;               /* Tamaño de fuente */
    color: #333333;               /* Color gris oscuro */
    margin-bottom: 10px;            /* Espacio debajo del título */
    text-align: center;
}

.certificacion-card p {
    color: #666666;              /* Color gris medio */
    line-height: 1.6;              /* Espaciado entre líneas */
}

.lista-certificaciones{
  text-align: left;
  padding-left: 3rem;
  color: #666666; ;
}

.lista-certificaciones li{
    line-height: 1.4rem;
}

.certificaciones-titulo {
    color:#737373;
}

.pagar-btn-otro, .examen-btn-otro{
  padding:0.6rem;
  border-radius: 8px;
  margin:0.4rem;
  background: #d1d0d0;
  color:white;
  border: none;
  font-family: 'Quicksand', sans-serif !important;
  width:8rem;
  height: 3rem;
  font-size: 1rem;
}

.btn-confirmar{
  background: #f7ca0f;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif !important;
}

#formPago{
  font-family: 'Quicksand', sans-serif !important;
}



