body {
  font-family: 'Quicksand', sans-serif !important;
  text-align: center;
}

#btnCargar{
    padding:1rem;
    border-radius: 8px;
    background: #f7ca0f;
    border: none;
}

main {
    /*max-width: 700px;*/
    width: 50%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 5px double #a653a3;
}
.card {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.card p{
    text-align: left;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem;
}

.ok { color: green; font-weight: bold; }
.bad { color: red; font-weight: bold; }

.enviar-btn{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1rem;
}

#btnCargar{
    font-size: 1rem;
}
#btnDescargarCert{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem;
}


#btnRegresarInicioCert{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem;
}

#btnRegresarInicio{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem;
}

label {
  display: block;
  text-align: left;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1.2rem;
  margin: 5px 0;
  cursor: pointer;
}

label input[type="radio"] {
  margin-right: 8px;
}

p{
    font-size: 1.2rem;
}
