body {
  font-family: 'Quicksand', sans-serif !important;
  text-align: center;
}

#btnCargar{
    padding:1rem;
    border-radius: 8px;
    background: #f7ca0f;
    border: none;
}

main {
    /*max-width: 700px;*/
    width: 60%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 5px double #a653a3;
}
.card {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}


.ok { color: green; font-weight: bold; }
.bad { color: red; font-weight: bold; }

.enviar-btn{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
}

#btnDescargarCert{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
}


#btnRegresarInicioCert{
    padding:1rem;
    border-radius: 8px;
    background: #723d99;
    border: none;
    color:white; 
    margin-top: 1rem;
    font-weight: bold;
}


