body {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  padding: 0;
}

/* --- Contenedor principal --- */
.contacto-container {
  display: flex;
  height: 100vh; /* ocupa todo el alto de la ventana */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* evita desbordes */
}

/* --- Imagen a la izquierda --- */
.contacto-imagen {
  flex: 1; /* ocupa mitad izquierda */
  height: 100%;
}

.contacto-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.contacto-form {
  flex: 1; /* mitad derecha */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 5rem;
  background-color: #ffffff;
}

.form-row1 {
  display: flex;
  justify-content: flex-start; /* alinea a la izquierda */
  gap: 1rem; /* pequeña separación entre nombre y apellido */
  margin-bottom: 1rem;
}

/* Cada campo ocupa solo lo necesario */
.form-row1 div {
  flex: 0 0 auto; /* evita que se estiren */
}

/* Los inputs no llenan todo el espacio */
.form-row1 input {
  width: 20.5rem; 
}

.form-row2,
.form-row3 {
  margin-bottom: 1rem;
}

/* Campos de entrada */
input,
textarea {
  width: 80%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1rem;
}

/* Botón */
.form-row4 {
  display: flex;
  justify-content: center;
}

.form-row4 button {
  padding: 0.8rem 2rem;
  border-radius: 8px;
  color: white;
  background-color: rgb(22, 179, 194);
  border: none;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1rem;
  cursor: pointer;
}

.form-row4 button:hover {
  background-color: rgb(17, 150, 162);
}

.contacto-info h3{
    font-size: 2rem;
    color: #b73f97;
}

.contacto-info p{
    font-size: 1.1rem;
    line-height: 2rem;
}

.contacto-info{
    margin-bottom: 2rem;
}
