/* Formulario de contacto */
.contacto-container {
   display:flex;
   gap:2rem;
}

.contacto-content{
    flex:1;
    justify-content: center;   
    align-items: center;  
    padding-top: 10rem;
    padding-left: 20rem;
}

.contacto-form{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-right: 31rem;
}

.form-row1{
    display: flex;
    flex:1; 
    gap: 1.25rem;
    padding:3.75rem;
    padding-bottom: 5px;
}

.form-row2{
    padding-left:3.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width:100px;
}
#email {
  width: 26rem;   
  font-family: Courier;
  font-size: 1rem;
}
.form-row2 input, .form-row1 input{
  padding: 0.4rem;
}
.form-row3{
    display: flex;
    gap:20px;
    padding-left:3.75rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.form-row3 textarea{
    flex: 2;
    font-family: Courier;
    font-size: 1rem;
    padding: 0.6rem;

}
.form-row4 button{
    flex:1;
    padding: 1rem;
    width: 8rem;
    border-radius: 8px;
    color: white;
    background-color: rgb(22, 179, 194);
    border-color: rgb(5, 138, 145);
    font-weight: bold;
    font-family: Courier;
    font-size: 1rem;
    border-style: dotted;
}
.form-row4{
    padding-left:12rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.form-row1 input{
    font-family: Courier;
    font-size: 1rem;
}

.form-row2 input{
    font-family: Courier;
    font-size: 1rem;
}
